<h1 id="burgerHeader">Eat-Da-Burger</h1>
{{!-- TODO  burger img --}}
<ol>
    {{#each burgers}}
    <p>{{id}}: {{burger}} <button class="burgerBtn btn" id={{id}}>Devour!</button></p>
    {{/each}}
</ol>

<ol>

    {{#each devoureds}}
    <p>{{id}}: {{burger}}</p>
    {{/each}}
</ol>

<form action=" /" method="POST">
    <textarea id="inputArea" type="text" name="task"></textarea>

    <button id="inputButton" type="submit">Submit</button>
</form>

<style>
    {
            {
             !-- //get this styled nicely --}}

            #burgerHeader {
                text-align: center;
                color: orange;
            }

            li {
                color: red;
            }
</style>

<script type="text/javascript">
    $("#inputButton").click(() => {
        event.preventDefault();

        if ($("inPutArea").length === 0) {
            alert("That's a boring burger! Try puttin' something on that!");
        } else {
            console.log($("#inputArea").val());
            const newBurger = { burger: $("#inputArea").val() };

            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger,
            }).then(
                function () {
                    console.log("Success");
                    location.reload();
                }
            );
        }
    });
    //this only works with an old function
    $(".burgerBtn").click(function () {
        const id = $(this).attr("id");

        $.ajax("/api/burgers/" + id, {
            type: "PUT"
        }).then(
            () => {
                console.log("Success!");
                location.reload();
            }
        )
    })
</script>